body {
  background: lightgray;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  gap: 90px;
}
.brand {
  font-family: Arial, Helvetica, sans-serif;
  color: crimson;
  font-size: 30px;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: cornflowerblue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

main {
  display: flex;
  gap: 80px;
  padding: 5px;
}
aside ul {
  list-style: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside li {
  background: orangered;
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 1000;
}
.testimonial blockquote {
  font-style: italic;
}

.testimonial figcaption {
  font-weight: 600;
}

/* 8) Footer background different + readable contrast */
footer {
  background: cornflowerblue;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}
